@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.daddydiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.daddydiv h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  width: 80vw;
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  height: 80vh;
}

.listofblogposts {
  list-style:decimal;
  padding: 20px;
}

.listofblogposts li {
  margin-bottom: 20px;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}

.listofblogposts h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.listofblogposts p {
  font-size: 16px;
  line-height: 1.4;
}
